<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Revenue</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://printjs-4de6.kxcdn.com/print.min.css"
    />
  </head>
  <body>
    <div class="container mt-5 mb-5" id="bill-content">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="toolbar" style="display: flex">
            <button
              style="margin-left: 830px"
              onclick="printJS('bill-content', 'html')"
            >
              <i class="fas fa-print"></i>
            </button>

            <button style="margin-left: 10px" onclick="generatePDF()">
              <i class="fas fa-download"></i>
            </button>
          </div>
          <div class="card" id="invoice">
            <div class="text-left logo p-2 px-5"></div>
            <div class="invoice p-5">
              <div class="info-Bill">
                <div class="office" style="display: flex">
                  <div class="info-office">
                    <p style="font-weight: bold; font-size: 20px">
                      Công ty rượu Lusion Wine
                    </p>
                    <p><span>Địa chỉ: </span> 91 Man Thiện, quận 9,Thủ Đức</p>
                    <p><span>Phone: </span> 0338744199</p>
                    <p><span>Email: </span> Lusion@gmail.com</p>
                    <p><span>Nhân viên lập: </span><%=user.ho%><%=user.ten%></p>
                  </div>
                  <img
                    src="/img/logoReport.PNG"
                    alt=""
                    style="width: 30%; height: 40%; margin-left: 250px"
                  />
                </div>
              </div>
              <div class="title">
                <h5 style="margin-left: 130px; font-weight: bold">
                  BÁO CÁO DOANH THU TỪNG THÁNG TRONG NĂM <%=year%>
                </h5>
              </div>
              <div class="date-confirm">
                <p>
                  <span style="margin-left: 300px"
                    >Ngày lập: <span id="date-tagg"></span
                  ></span>
                </p>
              </div>

              <div
                class="product border-bottom table-responsive"
                style="margin-left: 100px"
              >
                <table class="table table-borderless">
                  <tbody id="data-db">
                    <tr class="title" style="justify-content: space-between">
                      <td><span style="font-weight: bold">Tháng</span></td>
                      <td>
                        <span style="font-weight: bold; margin-left: 100px"
                          >Doanh thu</span
                        >
                      </td>
                      <!-- <td>
                        <span style="font-weight: bold; margin-left: 100px"
                          >Lợi nhuận</span
                        >
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
      integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>

<script>
  var sumCost;
  $.get("http://localhost:3000/quan-tri/api/AllCostProduct", (data) => {
    sumCost = data;
    console.log(sumCost);
  });

  function renderdata(data, id) {
    let div = document.getElementById(id);
    let date = new Date();
    let sum = 0;
    let datetime1 =
      date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();

    $("#date-tagg").text(datetime1);
    for (i = 0; i < data.length; i++) {
      sum += data[i].DOANHTHU;
    }
    let thisdate = new Date();
    thisdate = thisdate.getMonth();
    let html = ``;
    for (i = 0; i <= thisdate; i++) {
      let dt = data[i];
      html += `<tr>
                <td>${dt.THANG}</td>
                <td style=""><span style="margin-left: 100px;align-self: self-start">${dt.DOANHTHU.toLocaleString(
                  "vi-VN"
                )}</span></td>


             </tr>`;
    }

    html += `<tr><td></td><td><span style="font-weight:bold;margin-left: 100px">Tổng: </span>${sum.toLocaleString(
      "vi-VN"
    )} </td></tr>`;
    div.innerHTML += html;
  }

  window
    .fetch(`http://localhost:3000/quan-tri/api/ReportRevenue/${"<%=year%>"}`)
    .then((res) => {
      return res.json();
    })
    .then((data) => {
      console.log(data);
      let id = "data-db";
      renderdata(data, id);
    })
    .catch((err) => {
      console.log(err);
    });

  function generatePDF() {
    // Choose the element that our invoice is rendered in.
    const element = document.getElementById("invoice");
    // Choose the element and save the PDF for our user.
    html2pdf().from(element).save();
  }
</script>
