$e-global-color-primary: #1a1d24;
$e-global-color-secondary: #479ec1;
$e-global-color-text: #707070;
$e-global-color-accent: #2c2c2c;
$e-global-color-710de446: #cebaa4;
$e-global-color-11d16148: #bebebe;
$e-global-color-39c480d2: #e1aa5e;
$e-global-color-545bbd41: #fc5e48;
$e-global-color-1da8c806: #479ec1;
$e-global-color-9bac17c: #9a9a9a;
$e-global-color-a06534d: #2c2c2c;
$e-global-color-1334b92: #c3d136;
$e-global-color-76b57e7: #00b9bf;
$e-global-color-f4b8e73: #80472c;
$hover-underline: #e1aa5e;
